@model RentalMaster.Models.RentalItemMake

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RentalItemMake</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" ReadOnly="true"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentalItemModelID" class="control-label"></label>
                <select asp-for="RentalItemModelID" class="form-control" asp-items="ViewBag.ModelID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <div><h2>Models</h2></div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.RentalItemModels)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.RentalItemModels)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                        <td>
                            <a asp-action="Remove" asp-route-ModelID="@item.ID" asp-route-MakeID="@Model.ID">Return</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
