@model RentalMaster.ViewModel.RemoveModelVM

@{
    ViewData["Title"] = "Delete";
}

<h1>Remove model from make</h1>

<h3>Are you sure you want to remove this?</h3>
<div>
    <h4>RentalItemMake</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MakeID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MakeName)
        </dd>
    </dl>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModelID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModelName)
        </dd>
    </dl>

    <form asp-action="Remove">
        <input type="hidden" asp-for="ModelID" />
        <input type="hidden" asp-for="MakeID" />
        <input type="submit" value="Remove" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
